*{
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.upper {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.custom_header {
    font-size: 24px;
    color: #f9faf8;
    text-align: start;
    font-weight: 800;
}

.links {
    display: flex;
    list-style: none;
    gap: 50px;
    
}

/*li {
    
    font-size: 18px;
    margin: 2px 15px;
}*/

a:link {
    color: #e5e7eb;
    text-decoration: none;
  }

a:visited {
    color: orangered;
    text-decoration: none;
  }


.bottom {

    height: 400px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: stretch;
    margin-top: 50px;
    margin-bottom: 50px;
}


.secondary_text {
    width: 300px;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0px;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: 900;
    font-size: 18px;
}

h1.header {
    font-size: 48px;
    color: #f9faf8;
}

.bottom img {
    height: 80%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.main .main_upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.main_header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.main_upper_content {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

[class^='content_box_']{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 110px;
}

.main_image{
    width: 100px;
    border-radius: 19px;
    border: 2px solid#3882f6;
}

.main_middle, .main_middle_content_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.main_middle_text{
    width: 800px;
    font-size: 36px;
    color: #1f2937;
}

.main_middle_citation{
    font-weight: 900;
    align-self: flex-end;
}

.main_bottom{
    display: flex;
    justify-content: center;
}

.main_bottom_content{
    background-color: #3882f6;
    border-radius: 10px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px;
}

.main_bottom_text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.b2{
    display: flex;
    border-radius: 10px;
    border: 1px solid #f9faf8;
}

